header {
	position: relative;
	height: 800px;
	min-height: 500px;
	width: 100%;
	background: #161415 url(../images/hero-bg.jpg) no-repeat center;
	background-size: cover !important;
	-webkit-background-size: cover !important;
	text-align: center;
	overflow: hidden;
}

header .banner-text h1 {
	font: 90px/1.1em 'opensans-bold', sans-serif;
	color: white;
	letter-spacing: -1px;
	margin-bottom: 36px;
	text-shadow: 4px 3px 0px #1d9d74, 9px 8px 0px rgba(0, 0, 0, 0.15);
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: #1d9d74;
}

header .social {
	font: 90px/1.1em 'opensans-bold', sans-serif;
	color: white;
	letter-spacing: -1px;
	margin-bottom: 36px;
	text-shadow: 4px 3px 0px #1d9d74, 9px 8px 0px rgba(0, 0, 0, 0.15);
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: #1d9d74;
}

#about h2 {
	font: 60px/1.1em 'opensans-bold', sans-serif;
	color: white;
	letter-spacing: -1px;
	margin-bottom: 36px;
	text-shadow: 4px 3px 0px #1d9d74, 9px 8px 0px rgba(0, 0, 0, 0.15);
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: #1d9d74;
}

#about {
	background: #EAEAEA;
	padding-top: 96px;
	padding-bottom: 66px;
	overflow: hidden;
}

.pagination .page-numbers:hover {
   background: #1d9d74;
   color: #fff;
}
.pagination .current,
.pagination .current:hover {
   background-color: #1d9d74;
   color: #fff;
}

.button:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover {
   background: #1d9d74;
   color: #fff;
}

.button:active,
button:active,
input[type="submit"]:active,
input[type="reset"]:active,
input[type="button"]:active {
   background: #1d9d74;
   color: #fff;
}

/*#nav-wrap ul#nav {
	height: auto;
	display: none;
	clear: both;
	width: auto;
	float: right;
	position: relative;
	top: 12px;
	right: 0;
}*/