/**
  Forked form https://github.com/poole/hyde.
*/

/*
 * Contents
 *
 * Global resets
 * Sidebar
 * Container
 * Reverse layout
 * Themes
 */

@import url(dracula.css);
/* @import url(solarized-light.css); */
 @import url('https://fonts.googleapis.com/css?family=PT+Serif+Caption|Merriweather|Lato|Gentium+Basic');
 /*
  * Global resets
  *
  * Update the foundational and global aspects of the page.
  */

 html {
     font-family: "Carlito", Helvetica, Arial, sans-serif;
 }
 @media (min-width: 48em) {
     html {
         font-size: 16px;
     }
 }
 @media (min-width: 58em) {
     html {
         font-size: 17px;
     }
 }
 /*
  * Sidebar
  *
  * Flexible banner for housing site name, intro, and "footer" content. Starts
  * out above content in mobile and later moves to the side with wider viewports.
  */

 .sidebar {
     text-align: center;
     padding: 2rem 1rem;
     color: #d2cece;
     background-color: #25274D;
 }
 .lead {
     font-size: 1rem;
     font-weight: 700;
     line-height: 1rem;
     font-style: italic;
     margin: 1rem 0;
     width: 97%;
	 text-align: left;
 }
 .lead span {
     display: block;
 }
 .khan-img img {
     width: 100%;
     margin: 1rem auto;
     border-color: transparent;
 }
 
 span.categories {
	display: inline-block;
	margin-bottom: 1rem;
	color: #9a9a9a;
	padding-left: 10px;
	text-transform: uppercase;
	}
 span.categories:before {
     content: "\f02c";
     font-family: "FontAwesome";
     margin-right: 6px;
 }
 .topics {
     display: block;
     margin-bottom: 1rem;
 }
 .topics span {
     background: #E27D60;
     color: #fff;
     padding: 5px 10px 3px;
     font-size: 14px;
     margin-right: 5px;
     border-radius: 0;
     text-transform: uppercase;
 }
 .topics span:before {
     content: "\f140";
     font-family: "FontAwesome";
     margin-right: 6px;
 }
 .post-date {
     margin-bottom: 0rem;
     display: inline-block;
     text-transform: uppercase;
 }
 .post-date:before {
     content: "\f073";
     font-family: "Font Awesome\ 5 Free";
     padding-right: 5px;
     vertical-align: baseline;
     font-size: .98rem;
 }
 .sidebar nav .sidebar-nav-item {
     width: 50%;
     margin: 10px auto;
 }
 ul.profiles {
     padding-left: 0;
 }
 ul.profiles li {
     list-style: none;
     color: #8be9fd;
     font-size: 1rem !important;
 }
 ul.profiles li:before {
    font-size: 1.3rem;
    vertical-align: middle;
 }
 li.stk-ex:before {
     content: "\f18d";
     font-family: "Font Awesome\ 5 Brands";
     padding-right: 10px;
 }
 li.github:before {
     content: "\f113";
     font-family: "Font Awesome\ 5 Brands";
     padding-right: 10px;
 }
 li.packagist:before {
     content: "\f16b";
     font-family: "Font Awesome\ 5 Brands";
     padding-right: 9px;
 }
 li.wp-org:before {
     content: "\f19a";
     font-family: "Font Awesome\ 5 Brands";
     padding-right: 10px;
 }
 li.goodreads:before {
    font-family: "Font Awesome\ 5 Brands";
    padding-right: 10px;
    content: "\f3a8";
 }
 li.lnk-in:before {
     content: "\f08c";
     font-family: "Font Awesome\ 5 Brands";
     padding-right: 12px;
 }
 li.twiter:before {
     content: "\f081";
     font-family: "Font Awesome\ 5 Brands";
     padding-right: 12px;
 }
 p.message {
     background-color: #e6e5e5;
     color: #9b111e;
     border-radius: 4px;
     padding: 1rem;
     text-align: center;
 }
 p.message:before {
     content: '\f10d';
     font-size: 0.5rem;
     font-family: "FontAwesome";
     vertical-align: top;
     padding-right: 1px;
 }
 p.message:after {
     content: '\f10e';
     font-size: 0.5rem;
     font-family: "FontAwesome";
     vertical-align: top;
 }
 ul.software-tools {
     list-style: square;
     padding: 0;
     padding-left: 25px;
 }
 ul.software-tools li {
     color: #8be9fd;
 }
 ul.software-tools li span {
     background: #FF5555;
     color: #fff;
     padding: 1px 7px 4px;
     border-radius: 2px;
     font-size: 0.9rem;
 }
 ul.software-tools li:before {
     font-size: 1.5rem;
     padding-right: 10px;
     padding-left: 10px;
     color: #8be9fd;
     vertical-align: middle;
 }
 ul.software-tools li.os:before {
    font-family: "Font Awesome\ 5 Brands";
     content: "\f17c";
 }
 ul.software-tools li.ide:before {
    font-family: "Font Awesome\ 5 Free";
    content: "\f1c9";
    padding-right: 15px;
 }
 ul.software-tools li.editor:before {
    font-family: "FontAwesome";
     content: "\f120";
 }
 ul.software-tools li.vcs:before {
    font-family: "FontAwesome";
    content: "\f126";
    text-align: right;
    padding-right: 20px;
 }
 ul.software-tools li.com:before {
    font-family: "Font Awesome\ 5 Free";
    content: "\f2a0";
    padding-right: 15px;
 }
 .pm-tools span {
     padding-right: 10px;
     font-size: 1rem;
     font-weight: 500;
     color: #8be9fd;
 }
 .pm-tools span:before {
     content: "\f046";
     font-family: "FontAwesome";
     font-size: 0.8rem;
     padding-right: 5px;
     color: #8be9fd;
 }
 .page-title, .post-title {
 }
 .page p,
 .page li {
     font-family: "Lato" !important;
 }
 ul.contributions {
    list-style: square;
    padding: 10px 20px;
 }

 ul.contributions li {
    padding: 5px 0;
    color:#8be9fd;
 }
 ul.contributions li a {
    color: #8be9fd;
 }
 @media (min-width: 48em) {
     .sidebar {
         position: fixed;
         top: 0;
         left: 0;
         bottom: 0;
         width: 18rem;
         text-align: left;
         border-right: 0px solid;
         border-bottom: 0;
     }
     .post-title {
        font-size: 1.4rem !important;
     }


     .page-title {
        font-size: 1.5rem !important;
     }
     .page p,
     .page li {
         font-size: 15px;
     }
     .sidebar nav .sidebar-nav-item {
         margin: 10px 0;
     }
     .pagination-item.older:before {
         font-family: "FontAwesome";
         font-size: 1rem;
         content: "\f0a8";
         padding-right: 10px;
     }
     .pagination-item.newer:after {
         font-family: "FontAwesome";
         font-size: 1rem;
         content: "\f0a9";
         padding-left: 10px;
     }
 }
 /* Sidebar links */

 .sidebar a {
     color: #E27D60;
 }
 .sidebar-about h1 a {
     color: #e8e7e7;
     padding: 0px;
 }
 .sidebar-about h1 a:hover {
     text-decoration:none;
 }
 /* About section */

 .sidebar-about h1 {
     margin-top: 0;
     font-family: "Carlito", serif;
     font-size: 1.2rem;
     background: #E27D60;
     border-radius: 0;
     text-align: center;
     padding-top: 4px;
 }
 /* Sidebar nav */

 .sidebar-nav {
     margin-bottom: 1rem;
 }
 .sidebar-nav-item {
     display: block;
     line-height: 1.75;
     border: 3px solid #44475A;
     padding: 0 10px;
     border-radius: 0;
     margin-bottom: 10px;
     font-weight: bold;
     font-size: 0.8rem;
     background: #44475A;
     text-transform: uppercase;
 }
 a.sidebar-nav-item:hover,
 a.sidebar-nav-item:focus {
     font-weight: 700;
     background: #2E9CCA;
     color: #ffff;
     text-decoration: none;
     transition: 0.5s all;
     border-color: #2E9CCA;
 }
 .sidebar-nav-item.active {
     font-weight: bold;
     pointer-events: none;
     color: #fff;
     background: #E27D60;
     border-color: #E27D60;
 }
 .sidebar-icons ul {
     list-style: none;
     padding: 0;
 }
 .sidebar-icons ul li {
     display: inline-block;
     padding-right: 9px;
     font-size: 25px;
 }
 /* Sticky sidebar
  *
  * Add the `sidebar-sticky` class to the sidebar's container to affix it the
  * contents to the bottom of the sidebar in tablets and up.
  */

 @media (min-width: 48em) {
     .sidebar-sticky {
         position: absolute;
         right: 1rem;
         bottom: 1rem;
         left: 1rem;
     }
 }
 /* Container
  *
  * Align the contents of the site above the proper threshold with some margin-fu
  * with a 25%-wide `.sidebar`.
  */

 .content {
     padding-top: 4rem;
     padding-bottom: 4rem;
 }
 a {
     color: #E27D60;
 }
 .post-title a:hover {
     text-decoration: none;
 }
 a.read-more {
     display: block;
     padding: 5px 0;
     font-weight: 700;
     text-transform: lowercase;
     font-style: italic;
 }
 @media (min-width: 48em) {
     .content {
         max-width: 33rem;
         margin-left: 20rem;
         margin-right: 2rem;
     }
     .post h2 {
         margin-bottom: 5px;
     }
     .post p {
         font-size: 0.85em;
     }
 }
 @media (min-width: 64em) {
     .content {
         margin-left: 22rem;
         margin-right: 4rem;
     }
 }
 /*
  * Reverse layout
  *
  * Flip the orientation of the page by placing the `.sidebar` on the right.
  */

 @media (min-width: 48em) {
     .layout-reverse .sidebar {
         left: auto;
         right: 0;
     }
     .layout-reverse .content {
         margin-left: 2rem;
         margin-right: 20rem;
     }
 }
 @media (min-width: 64em) {
     .layout-reverse .content {
         margin-left: 4rem;
         margin-right: 22rem;
     }
 }

 img[src$="center-image"] {
   display:block;
   margin: 0 auto;
 }

 /*
  * Themes
  *
  * As of v1.1, Hyde includes optional themes to color the sidebar and links
  * within blog posts. To use, add the class of your choosing to the `body`.
  */
 /* Base16 (http://chriskempson.github.io/base16/#default) */
 /* Red */

 .theme-base-08 .sidebar {
     background-color: #ac4142;
 }
 .theme-base-08 .content a,
 .theme-base-08 .related-posts li a:hover {
     color: #ac4142;
 }
 /* Orange */

 .theme-base-09 .sidebar {
     background-color: #d28445;
 }
 .theme-base-09 .content a,
 .theme-base-09 .related-posts li a:hover {
     color: #d28445;
 }
 /* Yellow */

 .theme-base-0a .sidebar {
     background-color: #f4bf75;
 }
 .theme-base-0a .content a,
 .theme-base-0a .related-posts li a:hover {
     color: #f4bf75;
 }
 /* Green */

 .theme-base-0b .sidebar {
     background-color: #90a959;
 }
 .theme-base-0b .content a,
 .theme-base-0b .related-posts li a:hover {
     color: #90a959;
 }
 /* Cyan */

 .theme-base-0c .sidebar {
     background-color: #75b5aa;
 }
 .theme-base-0c .content a,
 .theme-base-0c .related-posts li a:hover {
     color: #75b5aa;
 }
 /* Blue */

 .theme-base-0d .sidebar {
     background-color: #6a9fb5;
 }
 .theme-base-0d .content a,
 .theme-base-0d .related-posts li a:hover {
     color: #6a9fb5;
 }
 /* Magenta */

 .theme-base-0e .sidebar {
     background-color: #aa759f;
 }
 .theme-base-0e .content a,
 .theme-base-0e .related-posts li a:hover {
     color: #aa759f;
 }
 /* Brown */

 .theme-base-0f .sidebar {
     background-color: #8f5536;
 }
 .theme-base-0f .content a,
 .theme-base-0f .related-posts li a:hover {
     color: #8f5536;
 }

