<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="khan-img"><img src="{{ site.url }}/public/img/khan.jpg"></div>
    <div class="sidebar-about">
      <h1>
        <a href="{{ site.url }}/">
          {{ site.title }}
        </a>
      </h1>
	  <p class="lead">Talk is cheap. Show me the code.<span style="text-align: right;">– Linus Torvalts</span></p>
	  <p class="lead">Programs must be written for people to read, and only incidentally for machines to execute.<span style="text-align: right;margin-top: 7px;">– Harold Abelson</span></p>
    </div>

    <nav class="sidebar-nav">
          <a class="sidebar-nav-item{% if page.url == "/" %} active{% endif %}" href="{{ site.url }}/"><i class="fas fa-clipboard"></i> My Blog</a>
	  <a class="sidebar-nav-item{% if page.url == "/about-me/" %} active{% endif %}" href="{{ site.url }}/about-me/"><i class="fas fa-user-circle"></i> About Me</a>
      {% comment %}
        The code below dynamically generates a sidebar nav of pages with
        `layout: page` in the front-matter. See readme for usage.
      {% endcomment %}

      {% assign pages_list = site.pages %}
      {% for node in pages_list %}
        {% if node.title != null %}
          {% if node.layout == "page" %}
            <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ node.url }}">{{ node.title }}</a>
          {% endif %}
        {% endif %}
      {% endfor %}
    </nav>
    <div class="sidebar-icons">
        <ul>
            <li>
                <a target="_blank" title="GitHub" href="https://github.com/codemascot">
                    <i class="fab fa-github-alt" aria-hidden="true"></i>
                </a>
            </li>
            <li>
                <a target="_blank" title="Good Reads" href="https://www.goodreads.com/CodeMascot">
                    <i class="fab fa-goodreads" aria-hidden="true"></i>
                </a>
            </li>
            <li>
                <a target="_blank" title="WordPress StackExchange" href="https://wordpress.stackexchange.com/users/44192/codemascot">
                    <i class="fab fa-stack-exchange" aria-hidden="true"></i>
                </a>
            </li>
            <li>
                <a target="_blank" title="WordPress.org" href="https://profiles.wordpress.org/codemascot#content-plugins">
                    <i class="fab fa-wordpress" aria-hidden="true"></i>
                </a>
            </li>
            <li>
                <a target="_blank" title="LinkedIn" href="https://www.linkedin.com/in/codemascot/">
                    <i class="fab fa-linkedin" aria-hidden="true"></i>
                </a>
            </li>
		</ul>
    </div>
    <p><b>Copyright <i class="far fa-copyright"></i> {{ site.time | date: '%Y' }}</b></p>
  </div>
</div>
