<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="khan-img"><img src="{{ site.url }}/public/img/khan.jpg"></div>
    <div class="sidebar-about">
      <h1>
        <a href="{{ site.url }}/">
          {{ site.title }}
        </a>
      </h1>
	  <p class="lead">Talk is cheap. Show me the code.<span style="text-align: right;">– Linus Torvalts</span></p>
	  <p class="lead">Programs must be written for people to read, and only incidentally for machines to execute.<span style="text-align: right">– Harold Abelson</span></p>
    </div>
    <div class="sidebar-icons">
        <ul>
            <li>
                <a target="_blank" title="WordPress StackExchange" href="https://wordpress.stackexchange.com/users/44192/codemascot">
                    <i class="fab fa-stack-exchange" aria-hidden="true"></i>
                </a>
            </li>
            <li>
                <a target="_blank" title="WordPress.org" href="https://profiles.wordpress.org/codemascot#content-plugins">
                    <i class="fab fa-wordpress" aria-hidden="true"></i>
                </a>
            </li>
            <li>
                <a target="_blank" title="GitHub" href="https://github.com/codemascot">
                    <i class="fab fa-github-alt" aria-hidden="true"></i>
                </a>
            </li>
            <li style="padding-right: 0;">
                <a target="_blank" title="LinkedIn" href="https://www.linkedin.com/in/codemascot/">
                    <i class="fab fa-linkedin" aria-hidden="true"></i>
                </a>
            </li>
		</ul>
    </div>
    <p><b><i class="far fa-copyright" style="padding-right: 5px"></i>{{ site.time | date: '%Y' }}. All rights reserved.</b></p>
  </div>
</div>
